@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

img {
  object-fit: cover;
}

.ombre {
  box-shadow: 1px 1px 10px #555;
}

/*--------------------------------------------------*/
.loader {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeout 0.2s 1s forwards;
  opacity: 0.9;
}
.loader .logo {
  font-family: "Shrikhand";
  font-size: 23px;
}
.loader .spin-1 {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 20px solid rgba(161, 160, 160, 0);
  border-top: 20px solid #9356DC;
  border-left: 20px solid #9356DC;
  border-bottom: 20px solid #9356DC;
  animation: spin 1.6s linear infinite;
}
.loader .spin-2 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid rgba(161, 160, 160, 0);
  border-top: 20px solid #FF79DA;
  border-left: 20px solid #FF79DA;
  border-bottom: 20px solid #FF79DA;
  animation: spin 1.4s linear infinite;
}
.loader .spin-3 {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 20px solid rgba(161, 160, 160, 0);
  border-top: 20px solid #99E2D0;
  border-left: 20px solid #99E2D0;
  border-bottom: 20px solid #99E2D0;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*--------------------------------------------------*/
header {
  font-family: "Shrikhand";
  font-size: 15px;
  padding: 5px;
  position: relative;
}
header i {
  position: absolute;
  left: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  color: #000;
}
header h1 {
  text-align: center;
}

/*--------------------------------------------------*/
img {
  max-width: 100%;
  max-height: 600px;
  width: 100%;
}

/*--------------------------------------------------*/
.resto {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  margin-top: -40px;
  position: relative;
}
.resto .titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
  font-size: 15px;
}
.resto h2 {
  font-family: "Shrikhand";
}
.resto .icone i {
  font-size: 2rem;
  cursor: pointer;
}
.resto .icone .fas {
  position: absolute;
  right: 1.2rem;
}
.resto .icone .fas {
  color: transparent;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.resto .icone:hover .fas {
  opacity: 1;
}
.resto .icone:hover .far {
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.resto .plats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  padding-bottom: 20px;
  animation: fadein 2s;
}
.resto .plats .menu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 15px;
}
.resto .plats .menu h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}
.resto .plats .menu h3::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.resto .plats .menu .menuItem {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0px 2px 2px 2px #a3a3a3;
  overflow: hidden;
  cursor: pointer;
}
.resto .plats .menu .menuItem .descriptif {
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}
.resto .plats .menu .menuItem .descriptif h4 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resto .plats .menu .menuItem .descriptif p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.resto .plats .menu .menuItem .prix {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.resto .plats .menu .menuItem .zone-check {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.resto .plats .menu .menuItem .zone-check .check {
  width: 1.6rem;
  height: 1.6rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transition-duration: 0.5s;
}
.resto .plats .menu .menuItem .zone-check .check .fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99e2d0;
}
.resto .plats .menu .menuItem:hover .zone-check {
  margin-right: -1rem;
}
.resto .plats .menu .menuItem:hover .check {
  animation: spin 0.4s linear;
}
.resto .plats .menu .plat1 {
  animation: apparait 0.5s ease-out 0s 1 reverse backwards;
}
.resto .plats .menu .plat2 {
  animation: apparait 0.5s ease-out 0.2s 1 reverse backwards;
}
.resto .plats .menu .plat3 {
  animation: apparait 0.5s ease-out 0.4s 1 reverse backwards;
}
.resto .plats .menu .plat4 {
  animation: apparait 0.5s ease-out 0.6s 1 reverse backwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparait {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.btn {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}
.btn a {
  text-decoration: none;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  color: white;
  border-radius: 40px;
  padding: 20px 60px;
  margin: 40px;
  font-size: 20px;
  box-shadow: 0px 0px 12px 0px #757575;
}
.btn a:hover {
  filter: brightness(1.1);
  box-shadow: 0px 0px 12px 0px #3d3d3d;
}

/*--------------------------------------------------*/
footer {
  background-color: #2c2c2c;
  font-size: 1.2rem;
  padding: 10px 0 30px 70px;
}
footer .logo {
  font-family: "Shrikhand";
  color: white;
}
footer div {
  color: white;
  margin-bottom: 5px;
}
footer div i {
  font-size: 12px;
}
footer div .icone {
  display: flex;
}
footer div .icone div {
  width: 25px;
}
footer div a {
  text-decoration: none;
  color: white;
}

/*--------------- MEDIA QUERIES --------------*/
@media (min-width: 420px) and (max-width: 992px) {
  img {
    max-height: 400px;
  }

  .resto {
    height: auto;
  }
  .resto .plats {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 420px) {
  img {
    max-height: 300px;
  }

  .resto {
    height: auto;
  }
  .resto .titre h2 {
    font-size: 25px;
  }
  .resto .plats {
    grid-template-columns: 1fr;
  }

  footer {
    padding-left: 30px;
  }
}

/*# sourceMappingURL=style_menu.css.map */
